.service-wrapper {
	width: 100%;
	min-height: 100vh;
	color: #000;
	padding: 45px;
	background-color: #e6e6fa;
	text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

.service-wrapper h1 {
	margin-bottom: 25px;
	margin-left: 10%;
}

.service-link__container {
	font-family: sans-serif;
	position: relative;
	width: 89%;
	min-height: 35vh;
	margin: auto;
	text-align: left;
	z-index: 1;
}

.service-link__container li {
	width: 40%;
	font-size: 18px;
	text-align: right;
	padding: 30px 20px;
	margin-left: auto;
	margin-right: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-right: 6px solid rgb(203, 203, 236);
}

.service-link__container li p {
	font-size: 18px;
}

.service-link__container h1 {
	font-size: 40px;
	margin-top: 40px;
	margin-left: initial;
}

.service-link__container::before {
	position: absolute;
	content: "";
	top: 70px;
	left: 0px;
	width: 100%;
	height: 2px;
	background-color: red;
	z-index: -8;
}

.service-content {
	width: 89%;
	min-height: 50vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	padding: 0px 0px 25px;
	background-color: transparent;
}

.webdesign,
.webadvertising,
.webapplication {
	width: 30%;
	padding: 10px;
	margin: auto;
	text-align: center;
	border: 2px solid red;
	border-radius: 20px;
	opacity: 0;  
	transform: translateX(-200px);
	transition: transform .4s ease-out, opacity .4s ease-out;
}

.webdesign p,
.webadvertising p,
.webapplication p {
	font-size: 16px;
}

.webdesign h2,
.webadvertising h2,
.webapplication h2 {
	margin: 15px;
}

@media screen and (max-width: 540px) {
	.service-wrapper {
		height: 100%;
		padding: 20px;
	}

	.service-wrapper h1 {
		margin: initial;
		font-size: revert;
	}

	.service-link__container {
		width: 100%;
		margin: initial;
	}

	.service-link__container h1 {
		margin-top: 50px;
	}

	.service-link__container::before {
		top: 50px;
	}

	.service-link__container li {
		width: 100%;
		padding: 0px 20px 0px 0px;
		margin-left: initial;
		margin-right: initial;
		margin-top: 25px;
	}

	.service-content {
		width: 100%;
		flex-direction: column;
	}

	.webdesign,
	.webadvertising,
	.webapplication {
		width: 100%;
		margin-bottom: 20px;
		border: none;
		border-radius: initial;
	}

	.webdesign h2,
	.webadvertising h2,
	.webapplication h2 {
		margin: 15px;
		padding-bottom: initial;
	}
}

@media screen and (min-width: 540px) and (max-width: 780px) {
	.service-wrapper {
		height: 100%;
		padding: 20px;
	}

	.service-wrapper h1 {
		margin: initial;
		font-size: revert;
	}

	.service-link__container {
		width: 100%;
		margin: initial;
	}

	.service-link__container h1 {
		margin-top: 50px;
	}

	.service-link__container::before {
		top: 50px;
	}

	.service-link__container li {
		width: 100%;
		padding: 0px 20px 0px 0px;
		margin-left: initial;
		margin-right: initial;
		margin-top: 25px;
	}

	.service-content {
		width: 100%;
		flex-direction: column;
	}

	.webdesign,
	.webadvertising,
	.webapplication {
		width: 100%;
		margin-bottom: 20px;
		border: none;
		border-radius: initial;
	}

	.webdesign h2,
	.webadvertising h2,
	.webapplication h2 {
		padding-bottom: initial;
	}
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
	.service-link__container {
		width: 100%;
		height: 40%;
	}

	.service-link__container li {
		width: 100%;
		padding: 5px 20px;
	}

	.service-content {
		width: 100%;
		height: 60%;
	}
}
